.home {
  position: absolute;
  background-color: $primary;
  width: 700px;
  border-radius: 20px;
  padding: 60px 60px 30px 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-family: "Ranchers", Helvetica, Arial;
    letter-spacing: 3px;
    font-size: 60px;
    margin-top: 0;
  }

  h2 {
    margin: 60px 0 10px 0;
  }

  .buttons {
    button {
      width: 100%;
      padding: 20px 0;
      background-color: $interaction-gray;
      border: none;
      border-radius: 15px;
      color: #ffffff;
      font-size: 28px;
      cursor: pointer;
      outline: none;
      transition: 0.1s;

      &:hover,
      &:focus {
        background-color: $interaction-gray-dark;
        transform: scale(1.05);
      }
    }
    .play {
      background-color: $interaction-green;
      margin-bottom: 30px;
      font-size: 54px;

      &:hover,
      &:focus {
        background-color: $interaction-green-dark;
      }
    }
  }
}

.patch {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;

  .link {
    display: none;
  }
  &:hover .patch-number {
    display: none;
  }
  &:hover .link {
    display: inline;
    color: $interaction-green;
    font-weight: bold;
  }
}
